Repository wakabame/study_pytorch: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff --fix, mypy

.pre-commit-config.yaml:

default_language_version:
    python: python3.10
repos:
    - repo: local
      hooks:
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, jupyter]
        require_serial: true
      - id: ruff --fix
        name: ruff --fix
        entry: ruff --fix
        language: system
        types_or: [python, jupyter]
        pass_filenames: false
        args: [.]
    - repo: local
      hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types_or:
          - python
        pass_filenames: false
        args: [.]
    - repo: local
      hooks:
      - id: update requirements.txt for dependabot
        name: update requirements.txt for dependabot
        entry: bash -c 'sed -e "/^-e/d" -e "s/\+cpu//" -e "s/setuptools/# setuptools/" requirements.lock > .github/dependabot/requirements.txt'
        language: system
        require_serial: true
    - repo: local
      hooks:
      - id: update requirements-dev.txt for dependabot
        name: update requirements-dev.txt for dependabot
        entry: bash -c 'sed -e "/^-e/d" -e "s/\+cpu//" -e "s/setuptools/# setuptools/" requirements-dev.lock > .github/dependabot/requirements-dev.txt'
        language: system
        require_serial: true
    - repo: local
      hooks:
      - id: update requirements-dev.txt for colaboratory
        name: update requirements-dev.txt for dependabot
        entry: bash -c 'sed -e "/^-e/d" -e "s/2+cpu/0+cu121/" -e "s/setuptools/# setuptools/" requirements.lock > requirements-colab.txt'
        language: system
        require_serial: true

なぜか dist の py3 の部分が落ちてしまうので python のマイナーバージョンを調整
  .python-version
  pyproject.toml
Due: none

幅を持たせる必要があった
  .python-version
  pyproject.toml
Due: none

isort を追加
  notebook/adaline_train.ipynb
  notebook/image.ipynb
  notebook/loggistic_regression.ipynb
  notebook/preceptoron_train.ipynb
  notebook/pytorch_first.ipynb
  notebook/sklearn-iris.ipynb
  pyproject.toml
  study_pytorch/adaline.py
  study_pytorch/classifier.py
  study_pytorch/perceptron.py
  study_pytorch/plot_util.py
  tests/test_plot_util.py
Due: black, ruff --fix, mypy

pytorch の練習
  notebook/pytorch_newral_network.ipynb
Due: black, ruff --fix

モデルファイルは保存しない
  .gitignore
Due: none

自動微分のサンプル
  study_pytorch/torch_first.py
Due: black, ruff --fix, mypy

ヒントを追加
  study_pytorch/torch_first.py
Due: black, ruff --fix, mypy

fix typo
  study_pytorch/torch_first.py
Due: black, ruff --fix, mypy

mlxtend を追加
  .github/dependabot/requirements-dev.txt
  .github/dependabot/requirements.txt
  pyproject.toml
  requirements-colab.txt
  requirements-dev.lock
  requirements.lock
Due: none

torch.nn によるモデルの作成
  notebook/pytorch_sequential.ipynb
Due: black, ruff --fix

13 章の燃費予測モデルの実習
  notebook/car_fuel_efficiency.ipynb
Due: black, ruff --fix

MNIST の数字の分類を pytorch で行う
  .gitignore
  notebook/MNIST_classification.ipynb
Due: black, ruff --fix

CNN による画像分類を追加
  colab/cnn_mnist.ipynb
Due: black, ruff --fix

update readme
  README.md
Due: none
